<div class="footer-cols">
    <div class="col">
        <h2>Top Quizzes</h2>
        <ul>
          <li><a href="{{ path('_quiz') }}">{% trans %}NSAIDs{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Antihypertensives{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Antiasthmatics{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Diuretics{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Insulin{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>{% trans %}Latest Quizzes{% endtrans %}</h2>
        <ul>
          <li><a href="{{ path('_quiz') }}">{% trans %}NSAIDs{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Antihypertensives{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Antiasthmatics{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Diuretics{% endtrans %}</a></li>
          <li><a href="{{ path('_quiz') }}">{% trans %}Insulin{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>{% trans %}Help us{% endtrans %}</h2>
        <p style="text-align: left; color: #fff; margin-bottom: 5px; font-size: 12px;">{% trans %}If you like <strong>PharmaQuiz</strong><br />help us with a donation!{% endtrans %}</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBxW7GBqcPulgJiAO9uEoJCPLLLbjy1iHrl8KG6skdAF6YJoeVW102tLAC70CgPJZrA85AZeiagotXfyaR6foBnmyJHPbdQOkOSpDpGSVzvzZ3tY9ggNRTiyIHRz9xbnMGZRZlj/QZNG4/B06ub7RI/FkF7HMmhZ/QecuCLrBjzljELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQITJjwOAi3B4+AgbixARaTtX/bs9wBiQ4RcC4dj3DxAX+FYdysazonJ0W8+PGf8feC8WBoTnEmvZK02xNlIz9qqGJ3nf6FeZrOHOiQNpmodQ2XqB4587U/U1Lm4hNZsFNc43kqTqJmqZozYF6ScP8CO0BifL4ZjKbVuCd9HBbHA8wkp2KkUglk8T2tNRDI+WG3Fnklczuux1u1w1VmEBdxBUfnpKeaJbF5i9DvJCj3LeFKSEzvWwfezT2VO4lIQ7UX0YiaoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTA3MTgxNDUzWjAjBgkqhkiG9w0BCQQxFgQUbGPzM5m1AIuEOb/OY3Kfcx4v2t8wDQYJKoZIhvcNAQEBBQAEgYCpyw3YtbybQlIvOXpwyB5vXC6K8vWMccJuIUgE4YKuf4gQOkhG8TsN+Yjwd2+dK1vWJSJi35uX1Fe2UU9AI58l063Zf9n7qofT3iB2QbWwrWq1rH6F75FEWCZ3L5JMHak2HozvgAQljrOzYlX+DN/ymL2H8jjars62CUJchbhVYQ==-----END PKCS7-----
            ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <div class="col">
        <h2>{% trans %}Quotes{% endtrans %}</h2>
        <div class="quote">
            <p style="color: #828282; text-align: left; font-style: italic;">
                {{ quote.text }} <span class="quote-author"> {{ quote.author }}
            </p>
        </div>
    </div>
    <div class="cl">&nbsp;</div>
</div>
<!-- end of footer-cols -->
